google-api-python-client
google-oauth
agora_token_builder
redis-server
agora
daphne
opencv-python
torch
mediapipe
numpy
joblib
tqdm
pandas
requests
pillow
channels_redis
channels
asgiref
google-auth-httplib2
google-auth-oauthlib
pyotp
pybase64
django-rest-framework
mysqlclient
django-storages[azure]
django~=3.2.12