 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1131px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1081px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 300;
  width: 138px;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 67px;
  width: 472px;
  margin: 24px 49px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-list-1 {
  width: 472px;
  margin: 21px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 455px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-1 .u-image-1 {
  width: 60px;
  height: 60px;
  background-image: url("images/icons8-test-account.svg");
  background-position: 50% 50%;
  margin: 12px auto 0 10px;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: -53px auto 0 82px;
}

.u-section-1 .u-icon-1 {
  width: 20px;
  height: 20px;
  margin: -11px 19px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  font-weight: 300;
  margin: -9px auto 0 82px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-1 .u-image-2 {
  width: 60px;
  height: 60px;
  background-image: url("images/icons8-test-account.svg");
  background-position: 50% 50%;
  margin: 12px auto 0 10px;
}

.u-section-1 .u-text-4 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: -53px auto 0 82px;
}

.u-section-1 .u-icon-2 {
  width: 20px;
  height: 20px;
  margin: -11px 19px 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  font-weight: 300;
  margin: -9px auto 0 82px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-1 .u-image-3 {
  width: 60px;
  height: 60px;
  background-image: url("images/icons8-test-account.svg");
  background-position: 50% 50%;
  margin: 12px auto 0 10px;
}

.u-section-1 .u-text-6 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: -53px auto 0 82px;
}

.u-section-1 .u-icon-3 {
  width: 20px;
  height: 20px;
  margin: -11px 19px 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  font-weight: 300;
  margin: -9px auto 0 82px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-1 .u-image-4 {
  width: 60px;
  height: 60px;
  background-image: url("images/icons8-test-account.svg");
  background-position: 50% 50%;
  margin: 12px auto 0 10px;
}

.u-section-1 .u-text-8 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: -53px auto 0 82px;
}

.u-section-1 .u-icon-4 {
  width: 20px;
  height: 20px;
  margin: -11px 19px 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  font-weight: 300;
  margin: -9px auto 0 82px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-1 .u-image-5 {
  width: 60px;
  height: 60px;
  background-image: url("images/icons8-test-account.svg");
  background-position: 50% 50%;
  margin: 12px auto 0 10px;
}

.u-section-1 .u-text-10 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: -53px auto 0 82px;
}

.u-section-1 .u-icon-5 {
  width: 20px;
  height: 20px;
  margin: -11px 19px 0 auto;
}

.u-section-1 .u-text-11 {
  font-size: 1rem;
  font-weight: 300;
  margin: -9px auto 0 82px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1080px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.875rem;
  font-weight: 300;
  width: 137px;
  margin: 0 auto;
}

.u-section-1 .u-list-2 {
  width: 472px;
  margin: 18px auto 0;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 177px;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 10px;
}

.u-section-1 .u-image-6 {
  width: 60px;
  height: 60px;
  background-image: url("images/icons8-test-account.svg");
  background-position: 50% 50%;
  margin: 12px auto 0 10px;
}

.u-section-1 .u-text-13 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: -53px auto 0 82px;
}

.u-section-1 .u-icon-6 {
  width: 20px;
  height: 20px;
  margin: -11px 63px 0 auto;
}

.u-section-1 .u-icon-7 {
  width: 20px;
  height: 20px;
  margin: -20px 19px 0 auto;
}

.u-section-1 .u-text-14 {
  font-size: 1rem;
  font-weight: 300;
  margin: -9px auto 0 82px;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 10px;
}

.u-section-1 .u-image-7 {
  width: 60px;
  height: 60px;
  background-image: url("images/icons8-test-account.svg");
  background-position: 50% 50%;
  margin: 12px auto 0 10px;
}

.u-section-1 .u-text-15 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: -53px auto 0 82px;
}

.u-section-1 .u-icon-8 {
  width: 20px;
  height: 20px;
  margin: -11px 63px 0 auto;
}

.u-section-1 .u-icon-9 {
  width: 20px;
  height: 20px;
  margin: -20px 19px 0 auto;
}

.u-section-1 .u-text-16 {
  font-size: 1rem;
  font-weight: 300;
  margin: -9px auto 0 82px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 891px;
  }

  .u-section-1 .u-form-1 {
    width: 470px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 470px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 891px;
  }

  .u-section-1 .u-list-2 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 150px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 360px;
  }

  .u-section-1 .u-list-1 {
    width: 360px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-list-2 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 250px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
  }
}