 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1013px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  margin: 25px 425px 0 653px;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  font-size: 1.125rem;
  margin: -24px auto 0 400px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 39px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 916px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 300;
  width: 138px;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 47px;
  width: 360px;
  margin: 24px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-list-1 {
  width: 360px;
  margin: 21px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 460px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px 30px;
}

.u-section-1 .u-image-1 {
  width: 60px;
  height: 60px;
  background-image: url("images/f9bca5edb02a28ee0e664f1bf0983cda9757b1b2e146d9363a9572b2af37cfec74a88241b19b922b566a73e7dc0ac9d4fda5419ca2dbca3942b26e_1280.jpg");
  background-position: 50% 50%;
  margin: 12px auto 0 12px;
}

.u-section-1 .u-text-3 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: -42px auto 0 82px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-1 .u-image-2 {
  width: 60px;
  height: 60px;
  background-image: url("images/f9bca5edb02a28ee0e664f1bf0983cda9757b1b2e146d9363a9572b2af37cfec74a88241b19b922b566a73e7dc0ac9d4fda5419ca2dbca3942b26e_1280.jpg");
  background-position: 50% 50%;
  margin: 12px auto 0 12px;
}

.u-section-1 .u-text-4 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: -42px auto 0 82px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-1 .u-image-3 {
  width: 60px;
  height: 60px;
  background-image: url("images/f9bca5edb02a28ee0e664f1bf0983cda9757b1b2e146d9363a9572b2af37cfec74a88241b19b922b566a73e7dc0ac9d4fda5419ca2dbca3942b26e_1280.jpg");
  background-position: 50% 50%;
  margin: 12px auto 0 12px;
}

.u-section-1 .u-text-5 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: -42px auto 0 82px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-1 .u-image-4 {
  width: 60px;
  height: 60px;
  background-image: url("images/f9bca5edb02a28ee0e664f1bf0983cda9757b1b2e146d9363a9572b2af37cfec74a88241b19b922b566a73e7dc0ac9d4fda5419ca2dbca3942b26e_1280.jpg");
  background-position: 50% 50%;
  margin: 12px auto 0 12px;
}

.u-section-1 .u-text-6 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: -42px auto 0 82px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-1 .u-image-5 {
  width: 60px;
  height: 60px;
  background-image: url("images/f9bca5edb02a28ee0e664f1bf0983cda9757b1b2e146d9363a9572b2af37cfec74a88241b19b922b566a73e7dc0ac9d4fda5419ca2dbca3942b26e_1280.jpg");
  background-position: 50% 50%;
  margin: 12px auto 0 12px;
}

.u-section-1 .u-text-7 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: -42px auto 0 82px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 916px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 300;
  width: 137px;
  margin: 0 auto;
}

.u-section-1 .u-list-2 {
  width: 431px;
  margin: 21px auto 0;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 180px;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 10px;
}

.u-section-1 .u-image-6 {
  width: 60px;
  height: 60px;
  background-image: url("images/f9bca5edb02a28ee0e664f1bf0983cda9757b1b2e146d9363a9572b2af37cfec74a88241b19b922b566a73e7dc0ac9d4fda5419ca2dbca3942b26e_1280.jpg");
  background-position: 50% 50%;
  margin: 13px auto 0 12px;
}

.u-section-1 .u-text-9 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: -51px auto 0 82px;
}

.u-section-1 .u-icon-1 {
  width: 20px;
  height: 20px;
  margin: -13px 63px 0 auto;
}

.u-section-1 .u-icon-2 {
  width: 20px;
  height: 20px;
  margin: -20px 19px 0 auto;
}

.u-section-1 .u-text-10 {
  font-size: 0.875rem;
  font-weight: 300;
  margin: -4px auto 0 82px;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 10px;
}

.u-section-1 .u-image-7 {
  width: 60px;
  height: 60px;
  background-image: url("images/f9bca5edb02a28ee0e664f1bf0983cda9757b1b2e146d9363a9572b2af37cfec74a88241b19b922b566a73e7dc0ac9d4fda5419ca2dbca3942b26e_1280.jpg");
  background-position: 50% 50%;
  margin: 13px auto 0 12px;
}

.u-section-1 .u-text-11 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: -51px auto 0 82px;
}

.u-section-1 .u-icon-3 {
  width: 20px;
  height: 20px;
  margin: -13px 63px 0 auto;
}

.u-section-1 .u-icon-4 {
  width: 20px;
  height: 20px;
  margin: -20px 19px 0 auto;
}

.u-section-1 .u-text-12 {
  font-size: 0.875rem;
  font-weight: 300;
  margin: -4px auto 0 82px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1879px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 37px;
    margin-right: 325px;
    margin-left: 555px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -25px;
    margin-left: 323px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 37px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 603px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 603px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 10px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 12px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 87px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: auto;
    margin-left: 323px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: auto;
    margin-left: 367px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 87px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 15px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 87px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: auto;
    margin-left: 323px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: auto;
    margin-left: 367px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 87px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 36px;
    margin-right: 215px;
    margin-left: 444px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -24px;
    margin-left: 214px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 605px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 15px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 87px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 15px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 87px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 15px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 87px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 15px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 87px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 15px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 87px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 260px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 178px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 12px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: -59px;
    margin-left: 82px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -5px;
    margin-left: 339px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 371px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -15px;
    margin-left: 82px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 12px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -59px;
    margin-left: 82px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -5px;
    margin-left: 339px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 371px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: -15px;
    margin-left: 82px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1041px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 125px;
    margin-left: 353px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 126px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 670px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 243px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -51px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -13px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -5px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -51px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -13px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1063px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
    margin-right: auto;
    margin-left: 253px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 26px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 8px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 662px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 21px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 14px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 86px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 14px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 86px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 14px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 86px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 14px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 86px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 14px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 86px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 249px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
    margin-top: 21px;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 13px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 253px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 285px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -6px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 13px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 253px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 285px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -6px;
  }
}