 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 699px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 100px;
  margin: 225px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  margin: 0 auto 0 618px;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: -25px 522px 0 423px;
}

.u-section-1 .u-form-1 {
  height: 209px;
  width: 482px;
  margin: 10px auto 0;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-weight: 900;
  padding: 10px 30px 10px 29px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  margin: 10px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 518px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 422px;
    margin-left: 323px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 408px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 312px;
    margin-left: 213px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 318px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 222px;
    margin-left: 123px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-left: 218px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 122px;
    margin-left: 23px;
  }

  .u-section-1 .u-form-group-2 {
    width: 100%;
  }
}