{% extends 'base_app.html'%}
{% block title %}
    Contacts
{% endblock title %}
{% block linklibs %}
    {% load  static %}
    <link rel="stylesheet" href="{% static  'Contacts.css'%}" media="screen">
    <script type="text/javascript" async defer src="{% static 'contacts.js'%}"></script>
{% endblock linklibs %}
{% block body %}
    <section class="u-align-center u-clearfix u-section-1" id="sec-453d">
      <div style="padding-bottom: 30px;" class="u-clearfix u-sheet u-sheet-1">
        <a id="connection-btn" class="u-active-none u-border-2 u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-border-palette-1-base u-btn u-button-style u-hover-none u-none u-text-hover-palette-2-base u-text-palette-1-base u-btn-1"></a>
        <h5 id="desc-connection" class="u-align-center u-text u-text-default u-text-1"></h5>
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
              <div class="u-container-layout u-container-layout-1">
                  <h2 class="u-align-center u-text u-text-2">Contacts</h2>
                  <div class="u-align-center u-form u-form-1">
                      <div class="u-form-group u-form-name">
                        <label for="name-a49c" class="u-form-control-hidden u-label"></label>
                        <input type="search" onkeyup="onContactSearch()" placeholder="Search Contacts" id="name-a49c" name="contact" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                      </div>
                  </div>
                  <div class="u-align-center u-list u-list-1">
                    <div id = "contact-list" class="u-repeater u-repeater-1">
{#                        <button id="add_contacts" style="margin-bottom: 20px; padding: 10px" class="u-black u-border-none u-button-style u-custom-font u-heading-font">Add Contact</button>#}
                      <div class="u-align-center u-text u-text-4" id="after_me">0 Contacts</div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </section>
    <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
{% endblock body %}