{% extends 'base_app.html'%}
{% block title %}
    Home
{% endblock title %}
{% block body %}
    {% load static %}
    <section class="u-clearfix u-section-1" id="sec-4936">
      <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-size-30 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-size-20">
                    <div class="u-layout-row">
                      <div class="u-align-left u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1"></div>
                      </div>
                      <div class="u-align-left u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-image u-layout-cell u-size-30 u-image-1" src="">
                        <iframe src="https://giphy.com/embed/ZXr9QrohDoa4eQ9nGw" width="232" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                      </div>
                    </div>
                  </div>
                  <div class="u-size-40">
                    <div class="u-layout-row">

                      <div class="u-align-right u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-image u-layout-cell u-left-cell u-size-60 u-image-2" src="">
                        <iframe src="https://giphy.com/embed/hqON1VVkpHDAnmBQ22" width="550" height="500" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-size-40">
                    <div class="u-layout-row">
                      <div class="u-align-left u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-image u-layout-cell u-right-cell u-size-60 u-image-3" src="">
                        <iframe src="https://giphy.com/embed/3FPW0xwCHdKCQXhDWE" width="480" height="270" frameBorder="0" class="giphy-embed"></iframe>
                      </div>
                    </div>
                  </div>
                  <div class="u-size-20">
                    <div class="u-layout-row">
                      <div class="u-align-left u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-image u-layout-cell u-size-30 u-image-4" src="">
                        <iframe src="https://giphy.com/embed/8vLpAX2BwVvkz048aB" width="278" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                      </div>
                      <div style="padding-left: 10px" class="u-align-left u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-layout-cell u-right-cell u-size-30 u-layout-cell-6">
                        <iframe src="https://giphy.com/embed/dAgMuCwdgGC7rE6DxG" width="400" height="164" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-hidden-lg u-hidden-xl u-layout-horizontal u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-7">
                  <iframe src="https://giphy.com/embed/ZXr9QrohDoa4eQ9nGw"  frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-8">
                  <iframe src="https://giphy.com/embed/hqON1VVkpHDAnmBQ22" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-9">
                  <iframe src="https://giphy.com/embed/3FPW0xwCHdKCQXhDWE" width="480" height="270" frameBorder="0" class="giphy-embed"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-255b">
      <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-align-left-sm u-align-left-xs u-custom-font u-heading-font u-text u-text-1">Start a video call by entering your friend's mobile number</p>
        <div class="u-expanded-width-sm u-expanded-width-xs u-form u-form-1">
          <form action="#" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-9 u-inner-form" source="custom" name="form" style="padding: 0px;">
            <input type="hidden" id="siteId" name="siteId" value="13704088">
            <input type="hidden" id="pageId" name="pageId" value="77187532">
            <div class="u-form-group u-form-name">
              <label for="name-1a20" class="u-form-control-hidden u-label"></label>
              <input type="text" placeholder="Phone" id="name-1a20" name="phone" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
            </div>
            <div class="u-align-left u-form-group u-form-submit">
              <a href="#" class="u-black u-border-none u-btn u-btn-submit u-button-style u-custom-font u-heading-font u-btn-1">START</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <input type="hidden" value="" name="recaptchaResponse">
          </form>
        </div>
      </div>
    </section>
{% endblock body %}