{% extends 'base_app.html'%}
{% block title %}
    Home
{% endblock title %}
{% block linklibs %}
    {% load static %}
    <link rel="stylesheet" href="{% static  'Home.css'%}" media="screen">
{% endblock linklibs %}
{% block body %}
     <section class="u-align-center u-clearfix u-section-1" id="sec-255b">
      <div class="u-clearfix u-sheet u-valign-bottom u-sheet-1">
        <p class="u-align-left-sm u-align-left-xs u-custom-font u-heading-font u-text u-text-1">Start a video call by entering your friend's mobile number</p>
        <div class="u-expanded-width-sm u-expanded-width-xs u-form u-form-1">
          <form action="#" method="POST" class="u-clearfix u-form-custom-backend u-form-horizontal u-form-spacing-9 u-inner-form" source="custom" name="form" style="padding: 0px;" redirect="true">
            <div class="u-form-group u-form-name">
              <label for="name-1a20" class="u-form-control-hidden u-label"></label>
              <input type="text" placeholder="Phone" id="name-1a20" name="phone" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
            </div>
            <div class="u-align-left u-form-group u-form-submit">
              <a href="#" class="u-black u-border-none u-btn u-btn-submit u-button-style u-custom-font u-heading-font u-btn-1">START</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <input type="hidden" value="" name="recaptchaResponse">
          </form>
        </div>
      </div>
    </section>

    <section class="u-clearfix u-section-2" id="sec-4936">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-size-30 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-size-20">
                    <div class="u-layout-row">
                      <div class="u-align-left u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1"></div>
                      </div>
                      <div class="u-align-left u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-image u-layout-cell u-size-30 u-image-1" src="">
                        <iframe src="https://giphy.com/embed/ZXr9QrohDoa4eQ9nGw" width="232" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                      </div>
                    </div>
                  </div>
                  <div class="u-size-40">
                    <div class="u-layout-row">

                      <div class="u-align-right u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-image u-layout-cell u-left-cell u-size-60 u-image-2" src="">
                        <iframe src="https://giphy.com/embed/hqON1VVkpHDAnmBQ22" width="550" height="500" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-size-40">
                    <div class="u-layout-row">
                      <div class="u-align-left u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-image u-layout-cell u-right-cell u-size-60 u-image-3" src="">
                        <iframe src="https://giphy.com/embed/3FPW0xwCHdKCQXhDWE" width="480" height="270" frameBorder="0" class="giphy-embed"></iframe>
                      </div>
                    </div>
                  </div>
                  <div class="u-size-20">
                    <div class="u-layout-row">
                      <div class="u-align-left u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-image u-layout-cell u-size-30 u-image-4" src="">
                        <iframe src="https://giphy.com/embed/8vLpAX2BwVvkz048aB" width="278" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                      </div>
                      <div style="padding-left: 10px" class="u-align-left u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-layout-cell u-right-cell u-size-30 u-layout-cell-6">
                        <iframe src="https://giphy.com/embed/dAgMuCwdgGC7rE6DxG" width="400" height="164" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-hidden-lg u-hidden-xl u-layout-horizontal u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-7">
                  <iframe src="https://giphy.com/embed/ZXr9QrohDoa4eQ9nGw" width="100%" height="100%" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-8">
                  <iframe src="https://giphy.com/embed/hqON1VVkpHDAnmBQ22" width="100%" height="100%" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-9">
                  <iframe src="https://giphy.com/embed/3FPW0xwCHdKCQXhDWE" width="100%" height="100%" frameBorder="0" class="giphy-embed"></iframe>
              </div>
            </div>
              <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-10">
                  <iframe src="https://giphy.com/embed/8vLpAX2BwVvkz048aB" width="100%" height="100%" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
              </div>
            </div>
              <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-11">
                  <iframe src="https://giphy.com/embed/dAgMuCwdgGC7rE6DxG" width="100%" height="100%" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
              </div>
            </div>
          </div>
            <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
          </a>
          <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
          </a>
        </div>
      </div>
    </section>

{% endblock body %}