{% extends 'base.html' %}
{% block body%}
    <section class="u-clearfix u-image u-section-1" id="carousel_4989" data-image-width="1600" data-image-height="1067">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-right u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-1">
                  <h1 class="u-align-right-sm u-align-right-xs u-text u-text-body-alt-color u-text-1">The<br>Orchid
                  </h1>
                </div>
              </div>
              <div class="u-align-left-lg u-align-left-md u-align-left-xl u-align-right-sm u-align-right-xs u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                  <h3 class="u-text u-text-body-alt-color u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xs u-text-2"> One-to-one video calling site with sign language conversion for hearing/speech impaired people</h3>
                  <a href="register" class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xs u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-round u-button-style u-custom-font u-heading-font u-hover-white u-none u-radius-3 u-text-hover-black u-btn-1">SIGN UP</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock body %}
